div > a{
    border: 0.15em solid #ffffff;
    border-radius: 0.12em;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 0 0.3em 0.3em 0;
    padding: 0.35em 1.2em;
    text-align: center;
    text-decoration: none;
    width: 300px;
}

div > a:hover{
    background-color: #ffffff;
    cursor: pointer;
    color: #b60b2b;
}

body{
    align-items: center;
    background-color: #b60b2b;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body > div:nth-child(2){
    position: absolute;
}

body > div:nth-child(2) > img{
    height: 75px;
}

body > div:nth-child(3){
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > #chart-orders,
body > #chart-comparative,
body > #chart-income{
    bottom: 95px;
    left: 220px;
    position: absolute;
    visibility: hidden;
    width: 910px;
}

#hiddenChart{
    bottom: 0px;
    cursor: pointer;
    left: 1140px;
    top: 35px;
    right: 0px;
    visibility: hidden;
}

header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > a > img:nth-child(1){
    margin-top: 15px;
    width: 200px;
}

span{
    font-style: italic;
}
