body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 270px;
}

.ceara{
    margin: 5px 0 0 0;
    text-align: center;
}

.horario{
    font-size: 11px;
    margin: 1px 0 1px 0;
    text-align: center;
}

.pedidos-delivery, .pedidos-balcao{
    font-size: 15px;
}

.dinheiro, .debito, .credito{
    font-size: 13px;
}

.rodape{
    font-size: 10px;
    text-align: center;
}
