{% extends 'shared/base.html' %}

{% load static %}

{% block static %}
    <script defer src="{% static 'js/charts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fechamento/caixa.css' %}">
{% endblock static %}

{% block title %}
    <title>Caixa - Fechamento Total</title>
{% endblock title %}

{% block body %}
    <header>
        <a href="/">
            <img src="{% static 'img/logoceara.png' %}" alt="Pizzaria do Ceará">
        </a>
        <h3>#ceara - Fechamento de Caixa <span>{{data | date:"d M Y"}}</span></h3>
    </header>

    <div class="chart-orders">
        <p id="pedidosBalcao" style="visibility: hidden; position: absolute;">{{pedidos_balcao|default:'0'}}</p>
        <p id="pedidosDelivery" style="visibility: hidden; position: absolute;">{{pedidos_delivery|default:'0'}}</p>
        <canvas id="chartOrders"></canvas>
    </div>

    <div class="chart-comparative">
        <p id="totalBalcao" style="visibility: hidden; position: absolute;">{{total_balcao|default:'0'}}</p>
        <p id="totalDelivery" style="visibility: hidden; position: absolute;">{{total_delivery|default:'0'}}</p>
        <canvas id="chartComparative"></canvas>
    </div>

    <div class="chart-income">
        <p id="totalDinheiro" style="visibility: hidden; position: absolute;">{{total_dinheiro|default:'0'}}</p>
        <p id="totalDebito" style="visibility: hidden; position: absolute;">{{total_debito|default:'0'}}</p>
        <p id="totalCredito" style="visibility: hidden; position: absolute;">{{total_credito|default:'0'}}</p>
        <canvas id="chartIncome"></canvas>
    </div>
{% endblock body %}