{% extends "popup/base.html" %}
{% block css %}
    {% load static %}
{% endblock %}

{% block js %}
    <script src="{% static 'layui/layui.js' %}"></script>
{% endblock %}

{% block main %}
    <form method="post" action="{{ request.path }}{% if to_field %}?to_field={{ to_field }}{% endif %}">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <div>
                <label>
                    {{field.label_tag}}
                </label>

                <div>
                    {{field}}
                </div>
            </div>
        {% endfor %}
        <button type="submit">Editar</button>
    </form>

    <style>
        body{
            font-family: 'Roboto', 'sans-serif';
            height: 350px;
        }

        button{
            background-color: #1e9fff;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            height: 35px;
            margin-top: 25px;
            text-transform: uppercase;
        }
        
        button:hover{
            background-color: #1a7fcc;
        }

        form{
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 55%;
            justify-content: center;
        }

        form > div:nth-child(3){
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;
        }

        #id_quantidade{
            -moz-appearance: textfield;
            text-align: center;
            width: 35px;
        }
    </style>
{% endblock %}