{% extends 'shared/base.html' %}
{% load static %}

{% block static %}
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
{% endblock static %}

{% block title %}
    <title>Delivery</title>
{% endblock title %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <div>
                <label>
                    {{field.label_tag}}
                </label>

                <div>
                    {{field}}
                </div>
            </div>
        {% endfor %}
        <button type="submit">Finalizar</button>
    </form>

    <script>
        layui.use(['form'], function () {
            var form = layui.form
        });
    </script>
{% endblock body %}