{% extends 'shared/base.html' %}
{% load static %}

{% block static %}
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <script defer src="{% static 'inputconfig.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'criar_pedido_delivery.css' %}">
{% endblock static %}

{% block title %}
    <title>#delivery - Novo Pedido</title>
{% endblock title %}

{% block body %}
    <header>
        <a href="/">
            <img src="{% static 'img/logoceara.png' %}" alt="">
        </a>
        <h1>DELIVERY #ceara{{request.user}}</h1>
    </header>

    <div>
        <section>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                <div>
                    <label>
                        {{field.label_tag}}
                    </label>
                    
                    <div>
                        {{field}}
                    </div>
                </div>
                {% endfor %}
                <button type="submit">FINALIZAR PEDIDO</button>
            </form>
        </section>
        
        <section>
            <div>
                <img src="{% static 'img/engrenagem.png' %}" alt="">
            </div>
            <div>
                <hr>
                <p>Taxa de entrega:</p>
                <button class="adiciona" onclick="maisTaxaEntrega()">+</button>
                <button class="subtrai" onclick="menosTaxaEntrega()">-</button>
                <button class="remove" onclick="removerTaxaEntrega()">Remover</button>
                <hr>
            </div>
            <div>
                <p>Taxas adicionais:</p>
                <button class="adiciona" onclick="adicionarTaxa()">+</button>
                <button class="subtrai" onclick="subtrairTaxa()">-</button>
                <button class="remove" onclick="removerTaxa()">Remover</button>
                <hr>
            </div>
            
            <div>
                <p>Descontos:</p>
                <button class="adiciona" onclick="adicionarDesconto()">+</button>
                <button class="subtrai" onclick="subtrairDesconto()">-</button>
                <button class="remove" onclick="removerDesconto()">Remover</button>
                <hr>
            </div>
        </section>
    </div>
        
        <script>
            layui.use(['form'], function () {
                var form = layui.form
        });
    </script>
{% endblock body %}