{% extends 'shared/base.html' %}
{% load static %}

{% block static %}
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <script defer src="{% static 'inputconfig.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'criar_pedido_delivery.css' %}">
{% endblock static %}

{% block title %}
    <title>#delivery - Novo Pedido</title>
{% endblock title %}

{% block body %}
    <header>
        <img src="{% static 'img/logoceara.png' %}" alt="">
        <h1>DELIVERY #ceara{{request.user}}</h1>
    </header>

    <section>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {% for field in form %}
            <div>
                <label>
                    {{field.label_tag}}
                </label>
                
                <div>
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <button type="submit">FINALIZAR PEDIDO</button>
        </form>
    </section>

    <section>
        <div>
            <button onclick="maisTaxaEntrega()">adicionar taxa de entrega</button>
            <button onclick="menosTaxaEntrega()">subtrair taxa de entrega</button>
            <button onclick="removerTaxaEntrega()">remover taxa de entrega</button>
        </div>
        
        <div>
            <button onclick="adicionarTaxa()">adicionar taxa adicional</button>
            <button onclick="subtrairTaxa()">subtrair taxa adicional</button>
            <button onclick="removerTaxa()">remover taxa</button>
        </div>
        
        <div>
            <button onclick="adicionarDesconto()">adicionar desconto</button>
            <button onclick="subtrairDesconto()">subtrair desconto</button>
            <button onclick="removerDesconto()">remover desconto</button>
        </div>
    </section>
        
        <script>
        layui.use(['form'], function () {
            var form = layui.form
        });
    </script>
{% endblock body %}