h1{
    color: #484848;
    font-size: 28pt;
}

header{
    align-items: center;
    display: flex;
    height: 20vh;
    justify-content: center;
    margin-top: 20px;
}

section{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-top: 25px;
}

.card-container{
    background-color: #262626;
}