{% extends 'shared/base.html' %}

{% load static %}

{% block static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/delivery/clientes.css' %}">
{% endblock static %}

{% block title %}
    <title>#ceara - Clientes</title>
{% endblock title %}

{% block body %}
    <header>
        <a href="/delivery/"><img src="{% static 'img/logoceara.png' %}"></a>
        <h1>CLIENTES:</h1>
        <p style="color: white; margin-left: 10px; font-size: 25px;">{{numero_clientes}}</p>
    </header>

    <table>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>

        {% for cliente in clientes %}
        <tr>
            <td>{{cliente.nome|default:"Indefinido"}}</td>
            <td>{{cliente.rua}}</td>
            <td>{{cliente.telefone}}</td>
            <td align="center"><a href="/delivery/clientes/editar/{{cliente.id}}"><img src="{% static 'img/editar.png' %}" alt=""></a></td>
            <td align="center"><a href="/delivery/clientes/excluir/{{cliente.id}}"><img src="{% static 'img/deletar.png' %}" alt=""></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}