{% extends 'shared/base.html' %}

{% load static %}

{% block title %}
    <title>#ceara - Delivery</title>
{% endblock title %}

{% block static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/delivery/delivery.css' %}">
{% endblock static %}

{% block body %}
    <header>
        <a href="/">
            <img src="{% static 'img/logoceara.png' %}">
        </a>
        <h2>DELIVERY #ceará</h2>
    </header>

    <div>
        <a href="/delivery/criar-pedido/">NOVO PEDIDO</a>
        <a href="/delivery/pedidos/">ÚLTIMOS PEDIDOS</a>
    </div>
{% endblock body %}