{% extends 'shared/base.html' %}

{% load static %}

{% block static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/delivery/editar_cliente.css' %}">
{% endblock static %}

{% block title %}
    <title>#delivery - Edição de Cliente</title>
{% endblock title %}

{% block body %}
    <header>
        <a href="/delivery/clientes/">
            <img src="{% static 'img/logoceara.png' %}" alt="">
        </a>
        <h1>DELIVERY #ceara</h1>
        <h2>Edição de Cliente</h2>
    </header>

    <section>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div>
                <label>
                    {{field.label_tag}}
                </label>
                
                <div>
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <button type="submit">Concluir</button>
        </form>
    </section>
{% endblock body %}