{% extends 'shared/base.html' %}

{% load static %}

{% block static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/delivery/pedidos_delivery.css' %}">
    <script defer src="{% static 'js/status_delivery.js' %}"></script>
{% endblock static %}

{% block title %}
    <title>#delivery - Últimos Pedidos</title>
{% endblock title %}

{% block body %}
    <header>
        <a href="/delivery/"><img src="{% static 'img/logoceara.png' %}"></a>
        <h1>PEDIDOS #delivery</h1>
    </header>

    <table>
        <tr>
            <th>Pedido</th>
            <th>Endereço</th>
            <th>Status</th>
            <th></th>
            <th>Recebimento</th>
            <th>Atualização</th>
            <th>Total</th>
            <th>Pagamento Solicitado</th>
            <th></th>
            <th>Conclusão</th>
            <th>Imprimir</th>
            <th>Editar</th>
            <th>Deletar</th>
            <th>Cadastrar</th>
        </tr>

        {% for pedido in pedidos %}
        <tr>
            <td class="id_pedido">#ceara{{pedido.user}}</td>
            <td>{{pedido.rua}}</td>
            <td class="status">{{pedido.status}}</td>
            <td><a href="/delivery/pedidos/status/{{pedido.id}}"><img src="{% static 'img/status.png' %}" alt=""></a></td>
            <td>{{pedido.horario_recebimento}}</td>
            <td>{{pedido.horario_atualizacao}}</td>
            <td>R$ {{pedido.get_valor_total}}</td>
            <td>{{pedido.pagamento}}</td>
            {% if pedido.pagamento_conclusao %}
            <td><img class="payment-status" src="{% static 'img/green.jpg' %}" alt=""></td>
            {% else %}
            <td><img class="payment-status" src="{% static 'img/red.jpg' %}" alt=""></td>
            {% endif %}
            <td>{{pedido.pagamento_conclusao}}</td>
            <td align="center"><a target="_blank" href="/delivery/pedidos/visualizar/{{pedido.id}}"><img src="{% static 'img/imprimir.png' %}" alt=""></a></td>
            <td align="center"><a target="_blank" href="/delivery/pedidos/editar/{{pedido.id}}"><img src="{% static 'img/editar.png' %}" alt=""></a></td>
            <td align="center"><a href="/delivery/pedidos/deletar/{{pedido.id}}"><img src="{% static 'img/deletar.png' %}" alt=""></a></td>
            <td align="center"><a target="_blank" href="/delivery/clientes/cadastrar/{{pedido.id}}"><img src="{% static 'img/adicionar.png' %}" alt=""></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}