{% extends 'shared/base.html' %}
{% load static %}

{% block static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <script defer src="{% static 'js/printOrderPaper.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/delivery/comanda_delivery.css' %}">
{% endblock %}

{% block title %}
    <title>Comanda #ceara{{comanda.id}} - Delivery</title>
{% endblock title %}

{% block body %}
    <div id="comanda">
        <h3 class="ceara">CEARÁ</h3>
        <h4 class="pedido-id">comanda: #ceara{{comanda.user}}</h4>
        <p class="horario">{{comanda.horario_recebimento}}</p>
        <p class="endereco"><strong>Endereço: </strong><br>{{comanda.rua}}</p>
        <p class="telefone"><strong>Telefone: </strong><br>{{pedido.telefone|default:"Nenhum telefone informado"}}</p>
        <hr>
        <h4 class="itens-title">ITENS DO PEDIDO</h4>
        {% for item in comanda.pizzas_grande.all %}
        <p class="itens"><strong>{{item.quantidade}}</strong> {{item.item}} (R${{item.get_valor_item}})</p>
        {% endfor %}
        {% for item in comanda.pizzas_broto.all %}
        <p class="itens"><strong>{{item.quantidade}}</strong> {{item.item}} (R${{item.get_valor_item}})</p>
        {% endfor %}
        {% for item in comanda.esfihas.all %}
        <p class="itens"><strong>{{item.quantidade}}</strong> {{item.item}} (R${{item.get_valor_item}})</p>
        {% endfor %}
        {% for item in comanda.lanches.all %}
        <p class="itens"><strong>{{item.quantidade}}</strong> {{item.item}} (R${{item.get_valor_item}})</p>
        {% endfor %}
        {% for item in comanda.sobremesas.all %}
        <p class="itens"><strong>{{item.quantidade}}</strong> {{item.item}} (R${{item.get_valor_item}})</p>
        {% endfor %}
        {% for item in comanda.bebidas.all %}
        <p class="itens"><strong>{{item.quantidade}}</strong> {{item.item}} (R${{item.get_valor_item}})</p>
        {% endfor %}
        <p class="observacao">Observações: {{comanda.observacao|default:"Nenhuma informada"}}</p>
        <hr>
        <div class="valores">
            <p>*SUBTOTAL......................</p>
            <p>R${{comanda.get_valor_pedido}}</p>
        </div>
        <div class="valores">
            <p>+TAXA DE ENTREGA.......</p>
            <p>R${{comanda.taxa_entrega}}</p>
        </div>
        <div class="valores">
            <p>+TAXAS ADICIONAIS.......</p>
            <p>R${{comanda.taxa_adicional}}</p>
        </div>
        <div class="valores">
            <p>-DESCONTOS....................</p> 
            <p>R${{comanda.desconto}}</p>
        </div>
        <div class="valores">
            <p><strong>=TOTAL A PAGAR...........</strong></p>
            <p>R${{comanda.get_valor_total}}</p>
        </div>
        <p class="pagamento">Forma de Pagamento: <strong>{{comanda.pagamento}}</strong></p>
        {% if comanda.necessidade_troco == 0 %}
        <p class="troco">*Troco não necessário*</p>
        {% else %}
        <p class="troco"><strong>*Troco p/ R${{comanda.necessidade_troco}}* (Levar {{comanda.get_valor_troco}})</strong></p>
        {% endif %}
        <hr>
        <p class="rodape">Pizzaria e Hamburgueria do Ceará</p>
    </div>
    <input type="button" onclick="imprimirComanda('comanda')" value="Imprimir Comanda">
{% endblock body %}